.hero-container{
    margin: 0 30px;
    // padding-top: 30px;
    font-weight: 300;

    h1{
        color: #00B0C7;
        font-weight: 800;
    }

    .hero{
        text-align: center;
        font-family: $public_sans;
        font-weight: 500;
        font-size: 30px;
        color: #007c7d;
    }

    img{
        width: 25em;
        display: block;
        margin: 0 auto;
        padding-bottom: 1em;
    }

    .subtitle{
        // color: $primary-color;
        color: #007c7d;
    }

}