@media (min-width: 64em){
    // styles go here
}

// 640px, 1024px, 1400px
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "87.5em");

// 639px, 1023px, 1399px
$breakpoints-down: ("small": "39.937em", "medium": "63.9375em", "large": "87.5em");

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size) ) { // have to know how map-get works

        @content;

    }
}

@mixin breakpoint-down($size) {
    @media ( max-width: map-get($breakpoints-down, $size) ) {

        @content;

    }
}



@media only screen and (min-width: 1024px){

    
    .sub-section{
        display: grid;
        grid-template-columns: repeat(2, auto);
        // gap: -1em -1em;     // haven't figured out it's importance
        margin-bottom: 5em;
            

        img {
            width: 25em;
        }

        .content{
            text-align: left;
            width: 70%;
        }

    }

    .sub-section.left{
        grid-template-areas: "left right";

        img{
            grid-area: left;
        }

        .content{
            text-align: right;
            width: 70%;
            justify-self: right;
        }

    }

    .side{
        // translate: translateX(0%);
        display: none;  // have to change this 
    }
   
}


@media only screen and (max-width: 640px){
    header{
        nav{
            padding: 15px 20px;
        }

        .logo{
            font-size: 20px;
        }

        .fa-bars{
            font-size: 25px;
        }
    
        .fa-xmark{
            margin: 13px 22px 0 0;
            font-size: 30px;
            color: #ff0000;
        }

        // .fa-xmark {
        //     float: right;
        //     margin: 29px 53px 0 0;
        //     // width: 2.5em;
        //     color: #0476bc;
        //     transition: color 300ms ease-in-out;
    
        //     // opacity: 0.4;
        //     font-size: 36px;
    
        //     &:hover{
        //     transform: scale(.90);
        //     color: #ff0000;
        //     transition: color 300ms ease-in-out;
        //     cursor: pointer;
    
        //     }
        // }

    }
    
    .side{
        .test{
            margin-top: 3.7em;
        }

        a{
           font-size: 20px;
           padding-left: 15px;
        }
    }
    .hero-container{
        margin: 0 15px 15px;
        
        h1{
            font-size: 25px;
        }

        .subtitle{
            font-size: 20px;
        }

        // for image I have to create a breakpoint to reduce the width
        img{
            width: 15em;
        }
    }


    .my-footer{

        .footer-container{
            display: block;
            margin: auto;
            text-align: center;
            line-height: 2;
        }

        .partner{
            text-align: center;
        }

        .copyright{
            word-spacing: normal;
        }
        
        #html{
            width: 5em;
        }

        #css{
            width: 6em;
        }

        #javascript{
            width: 5.3em;
        }

        .fa-brands{
            padding: 0 20px;
        }  
    }
}
