nav{
    // position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    // transform: translateX(100%);
    // transition: transform 300ms ease-in-out;

    .close{
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}