// colors

$primary-color: #555555;        // grey
$secondary-color: #00a5a7;      // cyan
$complimentary-color: #007c7d; // dark cyan


// fonts ( weight is 300 or 500 )

$poppins: 'Poppins', sans-serif;
$public_sans: 'Public Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Public Sans', sans-serif;

