@import "variables";
@import "header";
@import "content";
@import "footer";
@import "mixins";


html{
    font-size: 100%;
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}

// Flex box

.flex{

    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }
    
}

body{
    padding: 0;
    margin: 0 auto;
    overflow: auto;
    font-family: $poppins;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
}



// .sticky {
//     position: fixed;
//     top: 0px;
//     width: 100%;
// }

// .sticky + .hero-container {
//     padding-top: 100px;
// }

// .boxShadow{
//     box-shadow: 3px 3px 10px black , -1em 0 0.4em #003e3f;
// }
     
.fixed{
    position: sticky;
    top: 0px;
    // left: 0;
    width: 100%;
    box-shadow: 3px 3px 10px black , -1em 0 0.4em #003e3f;
}
.open-side{
    transform: translateX(0%);
}    

.hide{
    display: none;
}

// Visibility

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}

.hide-for-mobile{
    // hide for tablet and mobile
    @include breakpoint-down(medium){
        display: none;
    }
}

// .reduce{
//     @include breakpoint-down(small) {

//     }
// }

       