@import "variables";
@import "header";
@import "content";
@import "footer";
@import "mixins";


html{
    font-size: 100%;
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}

// Flex box

.flex{

    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    // &-jc-c{
    //     justify-content: center;
    // }

    // &-ai-c{
    //     align-content: center;
    // }
    
}

body{
    // margin: 0;
    // padding: 0;
    padding: 0 0px;
    margin: 0 auto;
    // overflow: auto;
    font-family: $poppins;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
}


.side{
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    opacity: 0.89;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;

    .test{
        padding: 0;
        margin-top: 8em;
       
    }

    a{
        color: $complimentary-color;
        display: block;
        font-weight: bold;
        font-size: 25px;
        line-height: 2;
        padding-left: 20px;
    }

    .fa-xmark{
        float: right;
        margin: 29px 53px 0 0;
        // width: 2.5em;
        color: $secondary-color;
        font-size: 36px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .hero-container {
    padding-top: 100px;
  }
        
.open-side{
    transform: translateX(0%);
}    

.hide{
    display: none;
}

// Visibility

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
}

.hide-for-mobile{
    // hide for tablet and mobile
    @include breakpoint-down(medium){
        display: none;
    }
}

       











// Media query

// @media only screen and (min-width: 1024px){
//     .hero-container{
//         margin: 0 30px;
//         font-weight: 300;
//         color: $primary-color;
    
//         .hero{
//             text-align: center;
//             font-family: $public_sans;
//             font-weight: 500;
//             font-size: 30px;
//             color: $primary-color;
//         }
    
//         .sub-section{
//             display: grid;
//             grid-template-columns: repeat(2, auto);
//             // gap: -1em -1em;     // haven't figured out it's importance
//             margin-bottom: 5em;
//         }
    
//         .subtitle{
//             color: $complimentary-color;
//         }
    
//         img {
//             width: 25em;
//         }
    
//         .content{
//             text-align: left;
//             width: 70%;
//         }
    
//         .sub-section.left{
//             grid-template-areas: "left right";
    
//             img{
//                 grid-area: left;
//             }
    
//             .content{
//                 text-align: right;
//                 width: 70%;
//                 justify-self: right;
//             }
    
//         }
    
//     }
// }